<a href="https://colab.research.google.com/github/alkindis/toShow/blob/main/pandas002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

\# Ex2 - Getting and Knowing your Data

## Yasser Al Kindi DFEDATA6

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [ ]:
df = pd.read_csv (url, sep= '\t')

### Step 4. See the first 10 entries

In [ ]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
df.info()
#4622

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# Solution 2
df.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [ ]:
#5

### Step 7. Print the name of all the columns.

In [ ]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
a = df.groupby(['item_name']).sum().sort_values(by=['quantity'], ascending = False)
a.head(1)

              order_id  quantity  item_price    total
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [ ]:
another = df['item_name']

In [ ]:
#761

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
a.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:

b = df.groupby(['choice_description'][0]).sum().sort_values(by=['quantity'], ascending = False)
b.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [ ]:
print (df['quantity'].sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
df.item_price.dtype

dtype('O')

In [ ]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price,total
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
# solution answer 
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

NameError: name 'chipo' is not defined

In [ ]:
# yasser answer - take out the $
df['item_price'] = df['item_price'].str.strip ("$")

In [ ]:
# yasser answer - pd.to_numeric
df['item_price'] = pd.to_numeric(df['item_price'])

#### Step 13.c. Check the item price type

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
#total column
df['total'] = df['quantity'] * df['item_price'].astype (float)

In [ ]:
#total reveue
print (f'Total period revenue was: $ {df['total'].sum()}''

SyntaxError: invalid syntax (<ipython-input-22-46760c9a28c5>, line 2)

### Step 15. How many orders were made in the period?

In [ ]:
#unique order_id
n = len(pd.unique(df['order_id']))
print("Unique Orders :", 
      n)

Unique Orders : 1834

# SOLUTION ANSWER

orders = df.order_id.value_counts().count()
orders

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
#avg order value = total revenue / num of orders

avgR = df['total'].sum() / n

print (f'Average order size is {avgR}, from {n} orders')

Average order size is 21.39423118865867, from 1834 orders

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_id,4622.0,927.254868,528.890796,1.00,477.25,926.00,1393.00,1834.00
quantity,4622.0,1.075725,0.410186,1.00,1.00,1.00,1.00,15.00
item_price,4622.0,7.464336,4.245557,1.09,3.39,8.75,9.25,44.25
total,4622.0,8.489186,12.632060,1.09,3.99,8.75,10.98,663.75

### Step 17. How many different items are sold?

In [ ]:
uniquieItems = len(pd.unique(df['item_name']))
print (uniquieItems)

50